<%- include('modal_close') %>
<header class="modal-title">Solicitação da Bin</header>
<div class="wizard-step" style="margin-left: -40px">
    <div class="wizard-step__item"><span style="height: 30px" class="wizard-step__item-text text-6"><%= lang.ORDER_OPENED %></span></div>
    <% if (orderStatuses.indexOf(data.status) >= 1) {%>
    <div class="wizard-step__item"><span style="height: 30px" class="wizard-step__item-text text-6"><%= lang.ORDER_CONFIRMED %></span></div>
    <% } %>
    <% if (orderStatuses.indexOf(data.status) >= 2) {%>
    <div class="wizard-step__item"><span style="height: 30px" class="wizard-step__item-text text-6"><%= lang.ORDER_WAITING %></span></div>
    <% } %>
    <% if (orderStatuses.indexOf(data.status) >= 3) {%>
    <div class="wizard-step__item"><span style="height: 30px" class="wizard-step__item-text text-6"><%= lang.ORDER_DISPATCHED %></span></div>
    <% } %>
    <% if (orderStatuses.indexOf(data.status) >= 4) {%>
    <div class="wizard-step__item current"><span style="height: 30px" class="wizard-step__item-text text-6"><%= lang.ORDER_FINISHED %></span>
    </div>
    <% } %>
</div>
<main class="request-data-table">
    <div class="row row--bottom-border">
        <span class="label text-2">Número da solicitação:</span>
        <span class="value text-2"><%= data.id %></span>
    </div>
    <div class="row row--bottom-border">
        <span class="label text-2">Endereço:</span>
        <span class="value text-2"><%= data.address %></span>
    </div>
    <div class="row">
        <span class="label text-2">Tamanho:</span>
        <span class="value text-2"><%= data.size %></span>
    </div>
    <div class="row">
        <span class="label text-2">Status:</span>
        <span class="value text-2"><%= lang[data.status] %></span>
    </div>
</main>
<div class="modal-actions">
    <button id="order-cancel" onClick="__f5__.orders.delete('<%= data.id %>')" class="btn btn-lg btn--primary">Cancelar Pedido</button>
</div>
