<%- include('modal_close') %>
<header class="modal-title">Seu pedido foi realizado com sucesso!</header>
<p class="modal-disclaimer text-2">Seu pedido foi enviado e deverá ser aprovado dentro de 24h pela
nossa equipe. Enquanto isso, você pode acompanhar o status da
sua solicitação na aba <a href="/app/dashboard/requests" class="link--primary">Solicitações</a>, no menu lateral.</p>
<main class="request-data-table">
    <div class="row row--bottom-border">
        <span class="label text-2">Número da solicitação</span>
        <span class="value text-2"><%= data.orderId %></span>
    </div>
    <div class="row row--bottom-border">
        <span class="label text-2">Endereço</span>
        <span class="value text-2"><%= data.address %></span>
    </div>
    <div class="row">
        <span class="label text-2">Tamanho</span>
        <span class="value text-2"><%= data.size %></span>
    </div>
</main>
<div class="modal-actions">
    <button id="order-cancel" onClick="__f5__.orders.askDelete('<%= data.id %>')" class="btn btn-lg btn--primary">Cancelar Pedido</button>
</div>
