<link rel="stylesheet" href="/css/bins.css">

<% if (typeof bins != 'undefined' && bins.length > 0) { %>
    <table class="bins__table">
        <thead class="bins__table-head">
            <tr class="bins__header-row text-6 uppercase">
                <th class="bins__header-cell code">código</th>
                <th class="bins__header-cell storage_level">nível de armazenamento</th>
                <th class="bins__header-cell district">bairro</th>
                <th class="bins__header-cell gathering_status">status</th>
                <th class="bins__header-cell right actions"></th>
            </tr>
        </thead>
        <tbody class="bins__table-body">
            <% for (var i = 0; i < bins.length; i++) { var bin = bins[i]; %>
                <tr aria-hidden class="bins__row--spacer"></tr>
                <tr id="bin-<%= bin._id%>" class="bins__row <%=
                    bin.storage_level <= 0.35
                        ? 'bins__row--green'
                        : bin.storage_level >= 0.70
                            ? 'bins__row--red'
                            : 'bins__row--yellow'
                %> text-6">
                    <td class="bins__cell code"><%= bin._id.toString().substr(0, 4) + '...' + bin._id.toString().substr(-4) %></td>
                    <td class="bins__cell storage_level">
                        <span class="content"><%= (bin.storage_level - 1) * -100 %>%</span>
                        <div class="loading-bar">
                            <div class="loading-bar__fill<%= bin.storage_level == 0 ? ' full' : '' %>" style="width: <%= (bin.storage_level - 1) * -100 %>%"></div>
                        </div>
                    </td>
                    <td class="bins__cell district"><%= bin.place.district %></td>
                    <td class="bins__cell gathering_status <%= bin.gathering_status == 'STATUS_INACTIVE' ? 'inactive' : bin.gathering_status == 'STATUS_ACTIVE' ? 'active' : '' %>">
                        <% if (bin.gathering_status == 'STATUS_INACTIVE') { %>
                            <span style="cursor: initial; display: block;" class="ic ic-block"></span>
                        <% } %>
                        <% if (bin.gathering_status == 'STATUS_ACTIVE') { %>
                            <span style="cursor: initial; display: block;" class="ic ic-check"></span>
                        <% } %>
                        <% if (bin.gathering_status == 'STATUS_GATHERING') { %>
                            <span style="cursor: initial; display: block;" class="ic ic-pause"></span>
                        <% } %>
                        <%= lang[bin.gathering_status] %>
                    </td>
                    <td class="bins__cell right actions">
                        <% if (typeof canEdit != 'undefined' && canEdit) { %>
                            <span title="Ainda não implementado" aria-label="Ainda não implementado" role="button" class="ic ic-edit"></span>
                        <% } %>
                        <% if (typeof canDelete != 'undefined' && canDelete) { %>
                            <button onClick="__f5__.bins.askDelete('<%= bin._id%>')" aria-label="Apagar bin de código <%= bin._id%>" role="button" class="bin-delete btn-xs btn--danger-ghost">
                                Deletar
                            </button>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
<% } else { %>
    <div class="empty-page empty-page--bins">
        <h2 class="empty-page__title">Você ainda não possui uma Bin :(</h2>
        <span class="empty-page__disclaimer">
            <span>Todas as suas Bins aparecerão aqui.</span><br>
            <span>Que tal fazer o seu primeiro pedido?</span>
        </span>
        <%- include('../components/new-bin-link', { canAdd })%>
    </div>
<% } %>