<aside class="sidebar">
    <header class="sidebar__header">
        <div class="logo-wrapper">
            <img src="/img/F5-logo.svg">
        </div>
        <div class="user-info">
            <img class="logo-org" src="<%= org.logo || '/img/logo-org-' + (user.email.startsWith('sucata') ? 'sucata.jpeg' : 'f5.png') %>" alt="Logo da Empresa">
            <span class="name text-5"><%= org.name %></span>
            <span class="email text-6"><%= user.email %></span>
        </div>
    </header>
    <ul class="sidebar__menu">
        <li id="profile-link" class="sidebar__menu-item">
            <a href="#" data-route="/dashboard/profile"><span class="ic ic-sm ic-profile"></span>Meu Perfil</a>
        </li>
        <li id="dashboard-link" class="sidebar__menu-item">
            <a href="#" data-route="/dashboard"><span class="ic ic-sm ic-dashboard"></span>Dashboard</a>
        </li>
        <li id="bins-link" class="sidebar__menu-item  <%= org.payed ? '' : 'disabled'%>">
            <a href="#" data-route="/dashboard/bins"><span class="ic ic-sm ic-bins"></span>Minhas Bins</a>
        </li>
        <li id="requests-link" class="sidebar__menu-item  <%= org.payed ? '' : 'disabled'%>">
            <a href="#" data-route="/dashboard/requests"><span class="ic ic-sm ic-solicitacoes"></span>Solicitações</a>
        </li>
        <li id="gathering-link" class="sidebar__menu-item  <%= org.payed ? '' : 'disabled'%>">
            <a href="#" data-route="/dashboard/gathering"><span class="ic ic-sm ic-coletas"></span>Coletas</a>
        </li>
        <li id="site-link" class="sidebar__menu-item">
            <a href="http://www.somosf5.com.br/" target="_blank" aria-label="Abrir website de Somos F5"><span class="ic ic-sm ic-site"></span>Ir para o site</a>
        </li>
        <li id="logout-link" class="sidebar__menu-item">
            <a href="#"><span class="ic ic-sm ic-logout"></span>Logout</a>
        </li>
    </ul>
    <footer class="sidebar__footer">
        <div class="sidebar__social-menu">
            <a href="https://www.facebook.com/somosf5oficial/" target="_blank" aria-label="Abrir página no facebook" class="ic ic-md ic-facebook pointer"></a>
            <a href="https://www.instagram.com/somos_f5/" target="_blank" aria-label="Abrir perfil no instagram" class="ic ic-md ic-instagram pointer"></a>
            <a href="https://twitter.com/somos_f5" target="_blank" aria-label="Abrir perfil no twitter" class="ic ic-md ic-twitter pointer"></a>
            <a href="https://www.linkedin.com/company/somosf5/" target="_blank" aria-label="Abrir página no linkedin" class="ic ic-md ic-linkedin pointer"></a>
        </div>
    </footer>
</aside>
<script>
    setTimeout(() => {
        document.querySelectorAll('.sidebar__menu-item:not(.disabled) a').forEach(a => {
            a.addEventListener('click', function (e) {
                console.log(e.target.dataset.route)
                __f5__.router.navigate(e.target.dataset.route);
                e.target.parentElement.classList.add('active');
            });
        });
        const activeMenuItem = '#<%= page%>-link';
        const li = document.querySelector(activeMenuItem);
        if (li) {
            li.classList.add('active');
        }
        document.querySelector('#logout-link a').addEventListener('click', function (e) {
            e.preventDefault();
            $.get('/app/users/logout', () => location.href = '/app');
        });
    });
</script>